* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

#root {
  color: #1e1e1e;
  background-color: #dfdfdf;
}

#form-body {
  background-color: #f7e7ef;
}

#title {
  color: #d7285c;
}

#submit {
  background-color: #f6c4d2;
}

#thanks-root {
  width: 100vw;
  height: 100vh;
  background-color: #f6c4d2;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  text-align: center;
}

span.fa-headphones {
  color: #1e1e1e;
}
