*{
	box-sizing: border-box;
}

#root {
	color: #1E1E1E;
	background-color: #DFDFDF;
}

#form-body {
	background-color: #F7E7EF;
}

#title {
	color: #D7285C;
}

#submit {
	background-color: #F6C4D2;
}

#thanks-root {
	width: 100vw;
	height: 100vh;
	background-color: #F6C4D2;
	color: #1E1E1E;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content {
	text-align: center;
}

span.fa-headphones {
	color: #1E1E1E;
}